
<div class="progress game--waiting-progress" ng-show="!ready">
    <div class="indeterminate"></div>
</div>

<div class="game--wrapper" ng-class="{'game--ready': ready}">

    <div class="container">
        <div class="row">
            <div class="col s12 left-align">
                <h3>Hallo {{user.firstname}}!</h3>
                Bitte drücke auf sechs Farben. Du spielst mit den Menschen, die auf die gleichen Farben in der gleichen Reihenfolge drücken.
            </div>
        </div>
    </div>

    <div class="game--lobby-code" ng-class="{'game--lobby-locked': colorsLocked}">

        <div class="game--lobby-button {{color}}" ng-repeat="color in colors track by $index" ng-click="removeColor($index)"></div>

        <div class="clear"></div>

    </div>



    <div>
        <div class="game--lobby-button red" ng-click="addColor('red')"></div>
        <div class="game--lobby-button pink" ng-click="addColor('pink')"></div>
        <div class="game--lobby-button blue" ng-click="addColor('blue')"></div>
    </div>
    <div>
        <div class="game--lobby-button green" ng-click="addColor('green')"></div>
        <div class="game--lobby-button yellow" ng-click="addColor('yellow')"></div>
        <div class="game--lobby-button orange" ng-click="addColor('orange')"></div>
    </div>
    <div>
        <div class="game--lobby-button brown" ng-click="addColor('brown')"></div>
        <div class="game--lobby-button white" ng-click="addColor('white')"></div>
        <div class="game--lobby-button black" ng-click="addColor('black')"></div>
    </div>

</div>