
.game--waiting-progress {
  margin-top: 0;
  background: none;
}

.game--lobby-button {

  @extend .z-depth-1;
  position: relative;
  left: 0;
  top: 0;
  transition: box-shadow 0.2s, left 0.2s, top 0.2s;
  width: 24vw;
  height: 24vw;
  float: left;
  margin: 3.5vw;
  &:first-child {
    margin-left: 7vw;
  }
  &:last-child {
    margin-right: 7vw;
  }
  &:active {
    box-shadow: none;
    left: 2px;
    top: 2px;
  }

}

.game--wrapper {

  text-align: center;
  transition: opacity 0.5s;
  opacity: 0;
  padding-top: 20px;
  width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;

  &.game--ready {
    opacity: 1;
  }

  .game--lobby-buttons-container {

    overflow: hidden;
    height: 93vw;

    &.game--lobby-buttons-gone {

      transition: height 0.5s;
      height: 0;

    }

  }



  .game--lobby-code {

    height: 17.6vw;
    background: $primary-color;
    box-shadow: inset 0px 0px 2px 2px rgba(0,0,0,0.2);
    margin:  -10px;
    padding: 0 10px;
    margin-bottom: calc(20px - 3.5vw);
    transition: height 0.5s;

    .game--lobby-button {

      position: initial;
      width: 12vw;
      height: 12vw;
      margin: 2.8vw 1.4vw;
      transition: margin-top 0.5s, background 0.3s;

      &:first-child {
        margin-left: 7vw;
      }
      &:last-child {
        margin-right: 7vw;
      }
    }

    &.game--lobby-locked {

      height: 0;
      overflow: hidden;

      .game--lobby-button {
        margin-top: -20vw;
      }

    }

  }

}

.game--header {

  opacity: 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 20px;
  overflow: hidden;
  pointer-events: none;

  .game--lobby-button {

    @extend .z-depth-1;
    position: initial;
    width: 12vw;
    height: 12vw;
    margin: -13vw 1.4vw 1.4vw;
    transition: margin-top 0.5s;

    &:first-child {
      margin-left: 7vw;
    }
    &:last-child {
      margin-right: 7vw;
    }

  }

  &.active {

    opacity: 1;
    .game--lobby-button {
      margin-top: -10vw;
    }

  }

}

@media screen and (orientation: landscape) {

  .game--wrapper {
    display: none;
  }

  .orientation-handheld {
    display: block;
  }

}